.replies-section{
    display: flex;
    align-self: flex-end;
    width: 100%;
}
.vertical-line{
    margin: 0px 70px;
    height: 90;
    border-right: 2px solid hsl(239, 57%, 85%);
}
.comment{
    display: flex;
    background-color: hsl(0, 0%, 100%);
    padding: 30px;
    border-radius: 16px;
    margin: 20px;
}
.comment-section{
    width: 100%;
}
.comment-info{
   display: flex;
}
.comment-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.comment-reply h4{
    display: inline;
}
.vote-section{
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.comment-vote div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(239, 57%, 95%);
}

.comment-like{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 35px;
    width: 40px;
}

.comment-likes{
    color: hsl(238, 40%, 52%);
    height: 60px;
    width: 40px;
}

.comment-dislikes{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    height: 35px;
    width: 40px;
}

.comment-info{
    display: flex;
    align-items: center;
}
.comment-buttons{
    display: flex;
}
.comment-info *{
    margin-right: 20px;
}
.comment-info img{
    height: 40px;
}

.comment-buttons div{
    display: flex;
    width: 70px;
    justify-content: space-between;
    margin-right: 10px;
}

.current-user{
    padding: 5px 10px;
    background-color: hsl(238, 40%, 52%);
    color: hsl(0, 0%, 100%);
    border-radius: 8px;
}

.edit-form .comment{
    padding: 0px;
}