.replies {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
}
.comment-text p{
    display: inline;
}

.comment-text :first-child{
    font-weight: 800;
    color: hsl(238, 40%, 52%);
    cursor: pointer;
}

.edit-form .comment .text-field-input input{
    margin-left: 10px;
    font-weight: 800;
    color: hsl(238, 40%, 52%);
    cursor: pointer;
    border: none;
    border-radius: 8px;
    outline: none;
}
.text-field-input div{
    display: flex;
}