.replies {
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.comment-text p{
    display: inline;
}

.comment-text :first-child{
    font-weight: 800;
    color: hsl(238, 40%, 52%);
    cursor: pointer;
}
