.comment-actions{
    display: flex;
}
.comment-button{
    display: flex;
    cursor: pointer;
    align-items: center;
    margin-left: 16px;
    transition: 0.5s;
}

.comment-button:hover{
    opacity: 0.4;
}

.comment-button img{
    margin-right: 8px;
}
