.reply-field{
    margin: 20px;
}
.reply-field .comment{
    margin: 0px;
}
.reply-field .comment-info{
    align-self: flex-start;
}

.reply-field textarea{
    border-radius: 8px;
    width: 80%;
    padding: 10px 25px;
    resize: none;
    outline-color: hsl(238, 40%, 52%);
}
